<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Article</h5>
          <p class="card-text"><strong>Title:</strong> <%= article.title %></p>
          <p class="card-text"><strong>Body:</strong> <%= article.body %></p>
        </div>
      </div>
    </div>
  </div>
</div>
